/*
    Con font-face establecemos una fuente que hemos
    descargado para usarla en nuestra pagina.
*/
@font-face {
    font-family: "Noto Serif";
    src: url(../font/Noto_Serif/NotoSerif-Regular.ttf);
}
/*
    Determinamos la fuente que utilizara toda la pagina.
*/
body {
    background-color: white;
    box-sizing: border-box;
    font-family: "Noto Serif";
}
/*
    Establecemos separacion entre los elementos de la pagina con
    flex, el color y el contorno de la caja, ademas del tamaño
    de los logos.
*/
header {
    display: flex;
    border: solid black;
    border-radius: 0.5em;
    justify-content: space-between;
    background-color: #90351f;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}

header img {
    height: auto;
    width: 4em;
}

header #telefono {
    height: auto;
    width: 3.5em;
}

header #login {
    height: auto;
}

#left_header {
    display: flex;
    justify-content: flex-start;
}

#left_header p {
    padding-left: 3em;
    font-size: larger;
}
/*
    Establecemos como se estructurara el navegador, como se
    desplegaran las listas y el estilo del propio.
*/
nav {
    border: solid black;
    background: #284f46;
    border-radius: 0.5em;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

nav ul li {
    list-style: none;
    padding: 0.5em;
    transition: 0.5s;
    display: block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #284f46;
    border-radius: 0.3em;
}

nav ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
    position: absolute;
    padding: 0.5em;
    background: #284f46;
    border-radius: 1em;
}
/*
    Con este contenedor establecemos la separacion lateral
    entre el section y el aside.
*/
#contenedor {
    display: flex;
    justify-content: space-between;
    height: calc(45em);
}
/*
    Establecemos los estilos de la totalidad del section y los
    articles en su interior, los ultimos contentran las noticias y
    estaran distribuidos uno encima del otro (destacar que, dependiendo
    del tamaño del monitor, al encoger la pagina las noticias se podran
    navegar scrolleando en la propia caja del section).
*/
section {
    border: solid black;
    border-radius: 0.8em;
    background-color: lightslategray;
    display: flex;
    flex-grow: 1;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: #284f46;
    flex-direction: column;
}

section::-webkit-scrollbar {
    display: none;
}

article {
    padding-left: 1em;
    border: double black;
    border-radius: 0.5em;
}

article h2 {
    text-decoration: underline;
    margin-bottom: 0;
}

article h3 {
    text-decoration: solid;
    margin-top: 0;
}
/*
    En el aside estableceremos el posicionamiento de la pagina y el
    funcionamiento del carrusel, el posee dos modos para desplazarse,
    flechas a los lados y un menu representado por puntos en la zona
    baja de las imagenes.
*/
aside {
    border: solid 0.25em black;
    border-radius: 0.5em;
    background-color: lightslategray;
    padding: 0.5em;
}

aside #calendario {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(50%);
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -7%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/*
    En el pie de pagina distribuimos los diferentes elementos que
    contiene y le añadimos estilos.
*/
footer {
    color: white;
    border: solid black;
    border-radius: 0.5em;
    display: flex;
    background-color: #90351f;
    justify-content: space-between;
}

footer .rrss {
    height: 2em;
    padding-top: 1.7em;
    padding-right: 0.5em;
}

footer #gobierno {
    height: 5em;
    width: 15em;
    padding-top: 0.35em;
    padding-left: 0.4em;
}

footer #andalucia {
    height: 5em;
    width: 8em;
}

footer #relleno {
    padding: 0.5em;
}