<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <!-- 
        En esta seccion comienza el encabezado, el cual contiene
        el logo y el titulo de la pagina, ademas posee unos logos
        que serviran como botones para acceder a la seccion del
        login y atencion al publico.
    -->

    <header>
        <div id="left_header">
            <img src="../img/mdc_icon.png">
            <p>I.E.S. Mar de Cádiz </p>
        </div>

        <div>
            <img id="login" src="../img/login_icon.png">
            <img id="telefono" src="../img/phone_icon.png">
        </div>
    </header>

    <!--
        Aqui comienza el navegador, este contiene diferentes opciones
        las cuales al clickar en ellas nos llevaran a diferentes secciones
        de la pagina.
    -->

    <nav>
        <ul>
            <li><a href="">Sobre nosotros</a>
                <ul>
                    <li><a href="">Presentación</a></li>
                    <li><a href="">Organización</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="">Medidas Covid</a></li>
                </ul>
            </li>
            <li><a href="">Acceso</a>
                <ul>
                    <li><a href="">Orientación</a></li>
                    <li><a href="">Matricula</a></li>
                    <li><a href="">Atencion al Alumnado</a></li>
                    <li><a href="">Becas y Ayudas</a></li>
                </ul>
            </li>
            <li><a href="">Estudios</a>
                <ul>
                    <li><a href="">ESO</a></li>
                    <li><a href="">Bachillerato</a></li>
                    <li><a href="">Grados Profesionales</a></li>
                    <li><a href="">Calendario Escolar</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--
        El section, que es el cuerpo principal de nuestra pagina, contiene
        diferentes articles, en los cuales almacenamos diferentes noticias
        de interes para los usuarios que visitan la pagina.
    -->

    <section>
        <article>
            <h2>
                Elecciones a Consejo Escolar Sector Madres/Padres/Tutores
            </h2>

            <h3>
                2021-11-15
            </h3>

            <p>
                Miércoles 17 de noviembre, de 15.00 a 20.00 estará activa la mesa electoral de padres y madres para elegir a sus representantes en el consejo escolar. La votación será presencial aunque existe la posibilidad de voto por correo y voto no presencial. Todas
                las familias han recibido un mensaje por ipasen con aclaraciones al respecto. Se facilita la papeleta para que, en caso de voto no presencial o por correo, puedan descargarla y entregarla.
            </p>
        </article>

        <article>
            <h2>
                Invitación del AMPA a SESIóN INFORMATIVA el lunes 29 de Noviembre a las 17:30h
            </h2>

            <h3>
                2021-11-10
            </h3>

            <p>
                Dónde se expondrá el funcionamiento del AMPA, objetivos del mismo y actuaciones realizadas para la mejora de la calidad de la enseñanza de nuestro alumnado. Para aquellos padres que aún no lo hayan hecho y estén interesados, será posible pagar la cuota
                del MAPA (!5€) o hacer el ingreso en la siguiente CC: IBAN EO03 2100 8583 0122 0002 3502 A continuación las familias socias del AMPA están convocadas a la ASAMBLEA GENERAL EXTRAORDINARIA Lunes 29 de Noviembre a las 17:30 h. En 1ª convocatoria
                y a las 18:00h. en 2ª convocatoria.
            </p>
        </article>

        <article>
            <h2>
                Ciberseguridad
            </h2>

            <h3>
                2021-10-24
            </h3>

            <p>
                El próximo 10 de noviembre comienza el Curso de Especialización en Ciberseguridad en Entornos de las Tecnologías de la Información.
            </p>
        </article>

        <article>
            <h2>
                Protocolo Covid
            </h2>

            <h3>
                2021-09-24
            </h3>

            <p>
                Se debe tener en cuenta que "los centros docentes elaborarán un Plan de actuación COVID-19 para que los procesos de enseñanza/aprendizaje se desarrollen con seguridad durante el curso escolar 2021/2022, teniendo en cuenta lo establecido en la presente
                Instruccion y lo que determine la autoridad sanitaria en cada momento, adaptado al contexto especifico del Centro", conforme se establece en la normativa vigente, de la Viceconserjeria de Educacion y Deporte, relativas a la organizacion
                de los centros docentes para el curso escolar 2021/2022, motivada por la crisis sanitaria del COVID-19.
            </p>
        </article>
    </section>

    <!--
        En el aside, justo a la derecha de nuestro section, tenemos un calendario de google el
        cual señala las fechas importantes. Justo debajo de este encontramos un visor de imagenes
        en carrusel el cual mostraria diferentes fotos de las instalaciones.
    -->

    <aside>
        <div id="calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=350&wkst=1&bgcolor=%230B8043&ctz=Europe%2FMadrid&src=ZXMuc3BhaW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%230B8043" style="border:solid 1px #777" width="500" height="350" frameborder="0"
                scrolling="no"></iframe>
        </div>


        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">

                <div class="slide-item">
                    <img src="../img/instituto1.jpg">
                </div>

                <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">

                <div class="slide-item">
                    <img src="../img/instituto2.jpg">
                </div>

                <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">

                <div class="slide-item">
                    <img src="../img/instituto3.jpg">
                </div>

                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>

                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>

                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>

                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>
    </aside>

    <!--
        Al final encontramos el pie de pagina, el cual se muestran datos como que es una pagina
        gubernamental, la direccion y el numero del centro y diferentes enlaces a paginas del
        gobierno relacionadas con educacion, asi como enlaces a nuestras redes sociales.
    -->

    <footer>
        <div id="burocracia">
            <img id="gobierno" src="../img/educacion_icon.png">
            <img id="andalucia" src="../img/junta_icon.png">
        </div>

        <div id="relleno">
            <p>
                IES Mar de Cádiz. Avenida de Rafael Alberti s/n. El Puerto de Santa María. Tfn:956243128<br> Seneca | Pasen | Junta de Andalucia | Consejería de Educación | Delegación de Cádiz | BOJA
            </p>
        </div>

        <div id="loguitos">
            <img class="rrss" src="../img/tw_icon.png">
            <img class="rrss" src="../img/fb_icon.png">
            <img class="rrss" src="../img/ig_icon.png">
        </div>
    </footer>
</body>

</html>